<!-- extend base layout -->
{% extends "main/base.html" %}

{% block content %}

<div class="page-header">
  <h1>Proszę wypełnić formularz</h1>
</div>

<form role="form" onsubmit="return Validate()" action="/save" method="post">
    <h3>Dane osobiste</h3>
    <div class="form-group">
      <label for="age">Proszę wybrać swój wiek</label>
      <select class="form-control" id="age" name="age">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1" >Poniżej 30 lat</option>
        <option value="2">30-49 lat</option>
        <option value="3">powyżej 50lat</option>
       </select>
     </div>

    <div class="form-group">
      <label for="home">Proszę wybrać miejsce zamieszkania</label>
      <select class="form-control" id="home" name="home">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Wieś</option>
        <option value="2">Małe miasto</option>
        <option value="3">Duże miasto</option>
       </select>
     </div>

    <div class="form-group">
      <label for="gender">Proszę wybrać płeć</label>
      <select class="form-control" id="gender" name="gender">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Mężczyzna</option>
        <option value="2">Kobieta</option>
        <option value="3">Inne</option>
       </select>
     </div>

    <div class="form-group">
      <label for="sex">Proszę wybrać orientację seksualną</label>
      <select class="form-control" id="sex" name="sex">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Heteroseksualna</option>
        <option value="2">Homoseksualna</option>
        <option value="3">Inne</option>
       </select>
     </div>

    <div class="form-group">
      <label for="education">Proszę wybrać wykształcenie</label>
      <select class="form-control" id="education" name="education">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Podstawowe</option>
        <option value="2">Średnie/Zawodowe</option>
        <option value="3">Wyższe</option>
       </select>
     </div>

    <div class="form-group">
      <label for="faith">Czy jesteś osobą wierzącą?</label>
      <select class="form-control" id="faith" name="faith">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Tak</option>
        <option value="2">Nie</option>
        <option value="3">Trudno powiedzieć</option>
       </select>
     </div>


    <h3>Dane dotyczące środowiska LGBT wokół</h3>
    <b>Czy masz wśród znajomych osoby należące do środowiska LGBT?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="friends" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="friends" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="friends" value="3">Nie wiem
        </label>
    </div>

    <b>Czy masz wśród rodziny osoby należące do środowiska LGBT?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="family" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="family" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="family" value="3">Nie wiem
        </label>
    </div>

    <h3>Twój pogląd na srodowisko LGBT</h3>

    <b>Czy orientacja seksualna drugiej osoby wpływa na to w jaki sposób ją postrzegasz?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="view" value="1">Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="view" value="2">Zależy od sytuacji
        </label>
        <label class="radio-inline">
          <input type="radio" name="view" value="3" required>Nie
        </label>
    </div>

   <b>Czy uważasz się za osobę tolerancyjną</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="openminded" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="openminded" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="openminded" value="3">Trudno powiedzieć
        </label>
    </div>

    <b>Czy wspierasz środowisko LGBT?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="support" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="support" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="support" value="3">Jest mi obojętne
        </label>
    </div>



    <b>Czy aktywnie wspierasz środowisko LGBT - np. biorąc udział w marszach i manifestacjach?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="manifest" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="manifest" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="manifest" value="3">Jestem przeciwko manifestacjom
        </label>
    </div>

    <b>Czy popierasz wprowadzenie zwiazków partnerskich w Polsce?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="partnership" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="partnership" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="partnership" value="3">Ciężko powiedzieć
        </label>
    </div>

    <b>Czy popierasz adopcję dzieci przez pary jednopłciowe?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="kids" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="kids" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="kids" value="3">Nie jestem pewien/pewna
        </label>
    </div>


    <div class="form-group">
        <label for="status">Jak oceniasz sytuację środowiska LGBT w Polsce? ( w skali od 1 do 3) </label>
        <input type="number" class="form-control" id="status" name="status" min="1" max="3" required>
    </div>


    <button type="submit" class="btn btn-default" >Prześlij wypełniony formularz</button>
</form>

     <script type="text/javascript">
            function Validate()
            {
                var s1 = document.getElementById("age").value;
                var s2 = document.getElementById("home").value;
                var s3 = document.getElementById("gender").value;
                var s4= document.getElementById("sex").value;
                var s5 = document.getElementById("education").value;
                var s6 = document.getElementById("faith").value;
                if(s1 == "0" || s2 == "0" || s3 == "0" || s4 == "0" ||s5 == "0" || s6 == "0")
                {
                    alert("Proszę uzupełnić wszystkie pola formularza, w sekcji danych osobowych");
                    return false;
                }
                return true;
            }
     </script>


{% endblock %}

