<!-- extend base layout -->
{% extends "main/base.html" %}

{% block content %}

  <div class="page-header">
    <h1>Informacje na temat zespołu</h1><br>
  </div>
<h2> Członkowie zespołu: </h2><br>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/ada.jpg" class="img-circle" alt="Ada" style="height: 250px">
        <div class="caption">
          <p>Adrianna Szymczyk</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/aga2.jpg" class="img-circle" alt="Aga" style="height: 250px">
        <div class="caption">
          <p>Agnieszka Znój</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/marta2.jpg"  class="img-circle" alt="Marta" style="height: 250px">
        <div class="caption">
          <p>Marta Tomczyk</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/pati.jpg" class="img-circle" alt="Pati" style="height: 250px">
        <div class="caption">
          <p>Patrycja Janowska</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/szymon.jpg" class="img-circle" alt="Szymon" style="height: 250px">
        <div class="caption">
          <p>Szymon Winiarski</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/szymon2.jpg"  class="img-circle" alt="Szymon2" style="height: 250px">
        <div class="caption">
          <p>Szymon Salagierski</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}