<!-- extend base layout -->
{% extends "main/base.html" %}

{% block content %}

  <div class="page-header">
    <h1>Zespół</h1><br>
  </div>
<h2> Członkowie zespołu: </h2><br>

<div class="well">
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/ada.jpg" class="img-circle" alt="Ada" style="height: 250px">
        <div class="caption">
          <center>
          <p>Adrianna Szymczyk</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/aga2.jpg" class="img-circle" alt="Aga" style="height: 250px">
        <div class="caption">
          <center>
          <p>Agnieszka Znój</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/marta2.jpg"  class="img-circle" alt="Marta" style="height: 250px">
        <div class="caption">
          <center>
          <p>Marta Tomczyk</p>
          </center>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/pati.jpg" class="img-circle" alt="Pati" style="height: 250px">
        <div class="caption">
          <center>
          <p>Patrycja Janowska</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/szymon.jpg" class="img-circle" alt="Szymon" style="height: 250px">
        <div class="caption">
          <center>
          <p>Szymon Winiarski</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="/static/szymon2.jpg"  class="img-circle" alt="Szymon2" style="height: 250px">
        <div class="caption">
          <center>
          <p>Szymon Salagierski</p>
          </center>
        </div>
      </a>
    </div>
  </div>
</div>
</div>

<h2>Informacje</h2>

<div class="well well-lg">
    <h4>Jesteśmy uczniami Akademii Górniczo-Hutniczej w Krakowie.<br>
    Studiujemy Inżynierię Biomedyczną na 4 roku.<br>
    Ta aplikacja webowa została zrealizowana w ramach projektu "Projektowanie aplikacji webowych"
    </h4>
</div>
{% endblock %}