<!-- extend base layout -->
{% extends "main/base.html" %}

{% block content %}

  <div class="page-header">
    <h1>Dziękujemy za wypełnienie ankiety!</h1><br>
  </div>
<h2> Możesz teraz zobaczyć wyniki, wrócić na stronę główną lub zobaczyć zespół.</h2><br><br>

  <p>
    <a href="/" class="btn btn-info" role="button">Strona główna</a>
    <a href="/chooseresult" class="btn btn-warning" role="button">Zobacz wyniki</a>
    <a href="/info" class="btn btn-info" role="button">Informacje o zespole</a>
  </p>

{% endblock %}