<!-- extend base layout -->
{% extends "main/base.html" %}

{% block content %}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Utworzono:</th>
        <th>age</th>
        <th>home</th>
        <th>gender</th>
        <th>sex</th>
        <th>education</th>
        <th>faith</th>
        <th>friends</th>
        <th>family</th>
        <th>view</th>
        <th>openminded</th>
        <th>support</th>
        <th>manifest</th>
        <th>partnership</th>
        <th>kids</th>
        <th>status</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.created_at }}</td>
        <td>{{ element.age }}</td>
        <td>{{ element.home }}</td>
        <td>{{ element.gender }}</td>
        <td>{{ element.sex }}</td>
        <td>{{ element.education }}</td>
        <td>{{ element.faith }}</td>
        <td>{{ element.friends }}</td>
        <td>{{ element.family }}</td>
        <td>{{ element.view }}</td>
        <td>{{ element.openminded }}</td>
        <td>{{ element.support }}</td>
        <td>{{ element.manifest }}</td>
        <td>{{ element.partnership }}</td>
        <td>{{ element.kids }}</td>
        <td>{{ element.status }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}