<!-- extend base layout -->
{% extends "main/base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Zapraszamy do wypełnienia ankiety</h1>
    <p>Ankieta dotyczy tematu LGBTQ+++.</p>
  </div>

  <div class="page-header">
    <h1>Wybierz co chcesz zrobić</h1>
  </div>
  <p>
    <a href="/form" class="btn btn-success" role="button">Wypełnij ankiete</a>
    <a href="/chooseresult" class="btn btn-primary" role="button">Zobacz wyniki</a>
  </p>


{% endblock %}

