<!-- extend base layout -->
{% extends "main/base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Zapraszamy do wypełnienia ankiety</h1>
    <center>
    <p>Ankieta dotyczy tematu LGBTQ+++.</p>
    </center>
  </div>

<center>
  <div class="page-header">
    <h1>Wybierz co chcesz zrobić</h1>
  </div>

  <p>
    <a href="/form" class="btn btn-info" role="button">Wypełnij ankiete</a>
    <a href="/chooseresult" class="btn btn-warning" role="button">Zobacz wyniki</a>
    <a href="/info" class="btn btn-info" role="button">Informacje o zespole</a>
  </p>
  </center>


{% endblock %}

